body {
  font-family: "Manrope", sans-serif;
}
h1 {
  margin-left: 65px;
  margin-top: 45px;
  font-size: 24px;
}
nav.navbar {
  text-align: right;
  margin-top: -43px;
  margin-right: 45px;
  word-spacing: 25px;
}
.nava {
  word-spacing: 0;
  text-decoration: none;
  color: #000;
}
a.nava:hover {
  font-weight: bold;
}
img.firstpic {
  width: 101.1%;
  height: 664px;
  object-fit: cover;
  margin-top: 50px;
  margin-left: -8px;
  position: relative;
}
.onpic {
  top: 242px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  width: 520px;
  height: 318px;
  margin-left: 120px;
  text-align: center;
  padding-top: 86px;
  font-size: 38px;
  word-spacing: 18px;
  font-weight: bold;
}
p.secondp {
  position: absolute;
  top: 548px;
  left: 319px;
  font-size: 25px;
  font-weight: bold;
}
h2.header2 {
  text-align: center;
  margin-top: 140px;
  font-size: 38px;
}
p.header2p {
  text-align: center;
  margin-bottom: 100px;
}
.image {
  position: relative;
  width: 30%;
  display: inline-flex;
  margin-left: 45px;
  margin-bottom: 100px;
}
.image__img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 400px;
}
.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  cursor: pointer;
}

.image__overlay:hover {
  opacity: 1;
}

.image__title {
  font-size: 4em;
  font-weight: bold;
  cursor: pointer;
}
.image__description {
  font-size: 3.25em;
  margin-top: 0.5em;
  cursor: pointer;
}
.dealership,
.visit {
  position: relative;
  margin-bottom: 200px;
  margin-top: 200px;
  border: 2px solid black;
  width: 95%;
  margin-left: 38px;
  height: 500px;
  border-radius: 10px;
  background-color: ghostwhite;
}
.dealertitle,
.visittitle {
  position: absolute;
  font-weight: bold;
  font-size: 24px;
  width: 50%;
  right: 0;
  text-align: center;
  top: 60px;
}
p.dealerp,
p.visitp {
  position: absolute;
  width: 40%;
  right: 72px;
  top: 135px;
  font-size: 20px;
  text-align: center;
}
a.dealercon {
  position: absolute;
  bottom: 109px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  text-align: center;
  right: 22%;
}
img.dealerimg,
.visitimg {
  position: absolute;
  width: 50%;
  height: 500px;
  object-fit: cover;
}
h2.visittitle {
  left: 0;
}
p.visitp {
  left: 80px;
  top: 185px;
  font-size: 25px;
}
img.visitimg {
  right: 0;
}
@media (max-width: 1429px) {
  .HideOnMobile {
    display: none;
  }
  .ShowOnMobile {
    display: block;
  }
}
@media (min-width: 1430px) {
  .ShowOnMobile {
    display: none;
  }
}
p.moparag {
  text-align: center;
  margin-top: 50%;
  font-size: 18px;
}
