a.fa.fa-twitter,
a.fa.fa-instagram,
a.fa.fa-google {
  color: black;
  text-decoration: none;
  font-size: 30px;
  padding-right: 45px;
  padding-left: 45px;
  margin-bottom: 100px;
}
.social {
  text-align: center;
}
@media (max-width: 1430px) {
  .HideOnMobile {
    display: none;
  }
  .ShowOnMobile {
    display: block;
  }
}
@media (min-width: 1430px) {
  .ShowOnMobile {
    display: none;
  }
}
